VITE_BASE_URL=/<APP_BASE_PATH>/
VITE_COOKIE_DOMAIN=<COOKIE_DOMAIN>
PRODUCTION=false

VITE_KM_SERVICE_URL=<KM_SERVICE_URL>
VITE_SQL_SERVICE_URL=<SQL_SERVICE_URL>
VITE_RAG_QUERY_SERVICE_URL=<RAG_QUERY_SERVICE_URL>

VITE_TRANSACTION_BASE_URL=<TRANSACTION_SERVICE_URL>
VITE_PROGRAMADO_CONFIGURATOR_BASE_URL=<CONFIGURATOR_SERVICE_URL>
VITE_CONFIGURATION_BASE_URL=<CONFIGURATION_SERVICE_URL>
VITE_JOB_BASE_URL=<JOB_SERVICE_URL>

VITE_DND_URL=<DND_EDITOR_URL>
VITE_ATT_DND_URL=<ATTACHMENT_DND_URL>
VITE_SRC_NODE_RED_URL=<NODE_RED_URL>
